<%= content_for :title, "Login to #{@config.get(:name)}" %>

<%= form_for @user, :url => register_path do |f| %>

    <% if @user.errors.size > 0 %>
        <div class='alert alert-danger'>
            <b>We ran into an issue when creating your account:</b>
            <ul>
                <% @user.errors.full_messages.each do |error| %>
                  <li><%= error %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <%= render 'registration_method', :f => f %>

    <%= f.label :password %>
    <%= f.password_field :password, :class => "form-control" %>

    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation, :class => "form-control" %>

    <div class="checkbox">
      <%= label_tag :remember_me do %>
          <%= check_box_tag :remember_me, 0 %>
          Remember Me
      <% end %>
    </div>


    <%= submit_tag 'Register', :class => 'btn btn-primary' %>
    <%= link_to 'Login', login_path, :class => 'btn btn-link' %>
<% end %>