<%= content_for :title, "Reset your password" %>

<% if @reset.presence && !@reset %>
    An email has been sent to <b><%= params[:email] %></b> with details regarding how to reset your password.
<% else %>
    <p>
      Did you forget your password? We'll send you a link to your email where you can set a new one!
    </p>
    <hr />

    <%= form_tag password_reset_path do %>
        <%= label_tag :email %>
        <%= text_field_tag :email, @email, :class => "form-control" %>

        <%= submit_tag "Send reset information", :class => "btn btn-primary" %>
    <% end %>
<% end %>