<%= content_for :content do %>
    <header id="header">
      <div id="logo">
        <h1>
          <%= @site[:name] %>
          <small><%= raw @site[:tagline] %></small>
        </h1>
      </div>
      <div id="actions" class="pull-right">
        <a href="#"><b>Sign out <i class="fa fa-sign-out"></i></b></a>
      </div>
    </header>

    <div id="screen">
      <aside id="sidebar">
        <div class="profile">
          <div class="profile-icon">
            <img class="img-responsive" src="https://avatars1.githubusercontent.com/u/1189775?v=3&s=460" />
          </div>
          <div class="profile-details">
            <b>Keenan Thompson</b><br />
            Developer
          </div>
        </div>

        <div class="navigation-outer">
          <div class="navigation">
            <%= render 'admin/navigation' %>
            <!-- Fancy scroll needs this -->
            <br /><br /><br />
          </div>
        </div>
      </aside>
      <section id="content_wrapper">
        <div id="content">
          <div class="content-header">
            <ol class="breadcrumb">
              <li class="crumb-active">
                <a href="/admin/panel">Panel</a>
              </li>
              <li class="crumb-link">
                <a href="/admin">Home</a>
              </li>
              <li class="crumb-trail">Panel</li>
            </ol>
          </div>

          <%= yield %>
        </div>
      </section>
    </div>

    <footer id="footer" class="ribbon">
      <p>
        <b>Steve CMS v0.4.0-BETA</b> &raquo; Made with <i class="fa fa-heart"></i> by Keenan Thompson
      </p>
    </footer>
<% end %>
<%= render 'layouts/admin/base' %>