.content-padded
  .row
    .col-lg-6
      .module
        .module-title
          Client Settings
        .text
          = form_tag admin_settings_path do
            = hidden_field_tag :category, :site

            = label_tag :name, 'Site name'
            = text_field_tag :name, @config.get(:site)[:name], :class => 'form-control'
            = label_tag :tagline, 'Site tagline'
            = text_field_tag :tagline, @config.get(:site)[:tagline], :class => 'form-control'
            = label_tag :time_zone
            = time_zone_select :time_zone, ActiveSupport::TimeZone.all, @config.get(:site)[:time_zone], {}, :class => 'form-control'
            = label_tag :date_format
            = select_tag :date_format, options_for_select(['August 20, 2015', '2015-08-20', '08/20/2015', '20/08/2015'], @config.get(:site)[:date_format]), :class => 'form-control'
            = label_tag :time_format
            = select_tag :time_format, options_for_select(['6:25 am', '6:25 AM', '18:25'], @config.get(:site)[:time_format]), :class => 'form-control'
            = label_tag :language
            = select_tag :language, options_for_select(['English (US)'], @config.get(:site)[:language]), :class => 'form-control'
            .clearfix
              .pull-right
                = submit_tag 'Save', :class => 'btn btn-success'
  %br/
  .row
    .col-lg-6
      .module
        .module-title
          Steve Cms Settings
        .text
          = form_tag admin_settings_path do
            = label_tag :version
            = text_field_tag :version, @cms[:full_name], :class => 'form-control', :disabled => 'disabled'